@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </li>

    <li class="nav-item">
            <a class="nav-link text-dark" asp-page="/NewDonation" title="Manage">New Monetary Donation</a>
    </li>

        <li class="nav-item">
            <a class="nav-link text-dark" asp-page="/NewGoodsDonation" title="Manage">New Goods Donation</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-dark" asp-page="/Disaster" title="Manage">Disasters</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-dark" asp-page="/View" title="Manage">View Disasters</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-dark" asp-page="/buy" title="Manage">Allocate goods money</a>
        </li>

    <li class="nav-item">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post" >
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
